@using Chola.Models
@model IEnumerable<ParentMenu>
           

    <ul class="sidebar-menu">
        <li class="header">MENU</li>
@if (ViewBag.UserAuth == "true"){
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-link"></i><span>Dashboard</span>
            </a>
        </li>       
}
        @foreach (var item in Model)
        {
            <li class="treeview">
                 
                <a href="#"><i class="fa fa-link"></i><span>@item.Text</span><i class="fa fa-angle-left pull-right"></i></a>
                
                @if (item.childs != null)
                {
                   
                        <ul class="treeview-menu">
                            @for (var i = 0; i < item.childs.Count; i++)
                            {
                                var s = item.childs[i].PageTitle.ToString().Replace("<BR/>", "\r\n");

                                <li><a href="@Url.Content(item.childs[i].NavigateUrl)"><i class="fa fa-circle-o"></i><span>@s.Replace("&nbsp;", " ")<span></a></li>

                            }
                        </ul>
                    
                }
         </li>
        }
    </ul>
 
