@{
    ViewBag.Title = "Bills List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bills Report
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Bills Report</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="col-sm-12 callout callout-info">
                <p id="div_success">@Html.Raw(ViewBag.Message)</p>
            </div>
            <div class="box-body">
                <h4 class="box-header">Search</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <div>
                                <input type="text" name="CustomerName" tabindex="1" placeholder="Enter customer name" class="form-control" id="CustomerName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>From To Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-left" tabindex="2" id="reservation" name="reservation">
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>                 
                    <div class="col-sm-2">
                        <div class="btn-adj">
                            <button type="button" tabindex="3" id="btnsearch" onclick="GetInfo();" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>

                </div>

            </div>
        </div> <!--/.box-->
        <div class="box box-default">

            <div class="box-body">
                <div class=" box-body table-responsive no-padding">

                    <table id="myTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Tours</th>
                                <th>Net</th>                               
                                <th>Amount</th>
                                <th>Profit</th>
                                <th>Created By</th>                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>                                
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div> <!--/.box-body-->
        </div> <!--/.box-->
    </section> <!-- /.content-->

</div><!-- /.content-wrapper -->
<!-- Modal -->


<!-- page script -->
<script type="text/javascript">
    jQuery(document).ready(function () {

        $('input[name="reservation"]').daterangepicker({
            format: 'MM/DD/YYYY' 
        });

        $("input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#btnsearch").click();
            }
        });

        $("select").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#btnsearch").click();
            }
        });

        $.fn.dataTable.ext.errMode = 'throw';

        $('#myTable').dataTable({

            dom: 'lBfrtip',
            responsive: !0,
            buttons: [
                 {
                     text: '<i class="fa fa-file-excel-o"></i>' + '&nbsp;' + 'Export Excel',
                     className: 'btn btn-primary',
                     extend: 'excel',
                     title: 'Bills List',
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4, 5, 6]
                     }
                 }
            ],
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            //"order": [[4, "desc"]],
            "iDisplayLength": @System.Configuration.ConfigurationManager.AppSettings["WebGridPageSize"],
            "sAjaxSource": "@Url.Action("QueryBillList", "Reports")",
            "fnServerParams": function (aoData) {
                aoData.push(
                { "name": "daterange", "value": $('#reservation').val() },
                { "name": "CustomerName", "value": $('#CustomerName').val() })
            },
            "bProcessing": true,
            "aoColumns": [

                { "sWidth": "100px" },
                { "sWidth": "150px" },
                { "sWidth": "250px" },
                { "sWidth": "150px" },
                { "sWidth": "100px" },
                { "sWidth": "100px" },
                { "sWidth": "100px" },
                { "sWidth": "100px" }
               
            ],            
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
 
                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                        i : 0;
                };
 
                // Total over all pages
                total = api
                    .column( 4 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );               
 
                // Update footer
                $( api.column( 4 ).footer() ).html(
                    '$ ' + total.toFixed(2)  
                );

                // Total over all pages
                total1 = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );               
 
                // Update footer
                $( api.column( 5 ).footer() ).html(
                    '$ ' + total1.toFixed(2) 
                );

                // Total over all pages
                total2 = api
                    .column( 6 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );               
 
                // Update footer
                $( api.column( 6 ).footer() ).html(
                    '$ ' + total2.toFixed(2) 
                );               
               
            }
       
        });
    });
   
    function GetInfo() {
        $('#myTable').DataTable().ajax.reload();
    }   
   

</script>



